<ul>

<!--<accordion>
  <accordion-group heading="{{::task.data.title}}">
      <div>Id: {{task._id}}</div>
      <div>Title: {{::task.data.title}}</div>
      <div ng-show="task.data.context">Context: {{::task.data.context}}</div>
      <div ng-show="task.data.description">Description: {{::task.data.description}}</div>
      <div ng-show="task.data.due">Due: {{::task.data.due | date: 'MMM d, yyyy'}}</div>
      <div>Created: {{::task.data.created | date: 'MMM d, yyyy  h:m a'}}</div>
      <div>Last Updated: {{::task.data.updated | date: 'MMM d, yyyy  h:m a'}}</div>
  </accordion-group>
</accordion>-->
<li ng-repeat="t in tasks"></li>
  <!-- <task-entry ng-repeat="t in tasks track by t._id" task="t" alltasks="alltasks"></task-entry> -->
  <!-- <task-entry ng-repeat="t in tasks | parentsOnly track by t._id" task="t" tasks="tasks"></task-entry> -->
</ul>