<!--
<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>
-->

<div>
  <form name="taskform" novalidate ng-submit="taskform.$valid && save(task)">
    <task-edit task="task"></task-edit>
    <input type="submit" ng-disabled="!taskform.$valid" ng-hide="task._id" value="Save"/>
    <input type="submit" ng-disabled="!taskform.$valid" ng-show="task._id" value="Update"/>
    <input type="button" ng-disabled="!taskform.$valid" ng-show="task._id" ng-click="newTask()" value="New Task"/>
  </form>
</div>
<br>
<div>
  All tasks:
  <ul ng-repeat="t in tasks track by $index ">
      <li>
        <div><a href="" ng-click="delete(t)">x</a> <a href="" ng-click="edit(t)">Edit</a></div>
        <task-view task="t"></task-view>
      </li>
  </ul>
</div>

<!--
<div class="container"</>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>
      </ul>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
-->
