
<div class="container-fluid">
  <div class="row">

    <div class="col-sm-12 col-md-12 main">

      <div class="panel panel-default task-panel col-xs-5">
        <div class="panel-heading task-header">
          <h2 ng-hide="task.value._id"><b>Enter a new task</b></h2>
          <h2 ng-show="task.value._id"><b>Update existing task</b></h2>
        </div>
        <div class="panel-body">
          <form name="taskform" novalidate ng-submit="taskform.$valid && save(task.value)">
            <p>
              <input type="submit" class="btn btn-primary" ng-disabled="!taskform.$valid" ng-hide="task.value._id" value="Save"/>
              <input type="submit" class="btn btn-primary" ng-disabled="!taskform.$valid" ng-show="task.value._id" value="Update"/>
              <input type="button" class="btn btn-danger" ng-show="task.value._id" ng-click="deleteTask(task.value)" value="Delete"/>
              <input type="button" class="btn btn-default" ng-disabled="!taskform.$valid" ng-show="task.value._id" ng-click="newTask()" value="New Task"/>
            </p>
             <p>
              <task-edit task="task" tasks="tasks"></task-edit>
            </p>
          </form>
        </div>  
      </div>

      <div class="panel panel-default col-xs-7">
        <div class="panel-heading">
          <h2>Tasks</h2>
        </div>
        <div class="panel-body">
          <h5>All Tasks</h5>
          <ul>
            <task-entry ng-repeat="t in tasks | parentsOnly track by t._id" task="t" alltasks="tasks" recursive="true"></task-entry>
          </ul>

          <div ng-show="(tasks | filter: isOrphan).length > 0">
            <h5>Orphans (caused by hierarchical delete)</h5>
            <ul>
              <task-entry ng-repeat="t in tasks | filter: isOrphan" task="t" alltasks="tasks"></task-entry>
            </ul>
          </div>


          <h5>Contexts</h5>
          <ul>
            <li ng-repeat="t in tasks" ng-if="t.data.context">{{t.data.context}}
              <ul>
                <task-entry ng-repeat="contextTask in tasks" ng-if="contextTask.data.context === t.data.context" task="contextTask"></task-entry>
              </ul>
            </li>
          </ul>

          <h5>Due</h5>
          <ul>
              <task-entry ng-repeat="st in tasks" ng-if="st.data.due" task="st"></task-entry>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

